@model Ziv.Models.Shark

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountOfTeeth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountOfTeeth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeedSaltWater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedSaltWater)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SkinColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SkinColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
